@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');

* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descr-container {
    background-image: url(/assets/css/img/jpg/185885-persona-series-atlus-jack-frost.jpg);
    background-size: cover;
    background-position: right;
    height: auto;
    padding: 50% 5% 5%;
}

.contact-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    padding: 5%;
}

.form-container,
.form-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.descr-box {
    display: grid;
    gap: 10px;
}

.descr-title,
.descr-para {
    color: var(--whitediamond);
}

.btn-submit {
    background-color: var(--sun);
    border: none;
    border-radius: 5px;
    padding: 2%;
    color: var(--whitediamond);
}

.btnspace {
    border: 1px solid var(--darknight);
    border-radius: 5px;
    padding: 2%;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-left {
    color: var(--sun);
    width: 90px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.information-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social {
    display: flex;
    gap: 10px;
}

.feature-icon {
    width: 16px;
    height: 16px;
}

@media only screen and (min-width: 770px) {

    .descr-container{
        padding:30% 5% 5%;
    }

    .feature-icon{
        width: 32px;
        height: 32px;
    }

}