@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero {
    background-image: url(../img/jpg/185885-persona-series-atlus-jack-frost.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 500px;
    color: #ffffff;
    padding: 50px 40px;
    
}

.hero div {
    position: relative;
    padding: 150px;
}

.hero div h1 {
    margin-bottom: 20px;
}

.full-forum {
    background:rgba(0, 0, 0, 0.28) ;
}

.all-member {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
    gap: 700px;
}

.filter {
    display: flex;
    gap: 10px;
}

.forum-message {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 150px;
    border: 1px solid #878787;
    background-color: #1f2225;
    box-sizing: border-box;
    width: 80%;
    color: #ffffff;
}

.message-contain {
    display: flex;
    align-items: flex-start;
}

.message-contain img {
    width: 5%;
    border-radius: 50%;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}

.message {
    margin-left: 20px;
}

.forum-pages {
    margin-left: 150px;
}

.forum-pages button{
    border-radius: 50%;
    padding: 0.5%;
}

.forum-pages button:hover {
    background-color: #ffb320;
}

@media (max-width: 770px) {
    
}