@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');

* {
    margin: 0;
    padding: 0;
}



.forum-pages button{
    border-radius: 100%;
    padding: 0.5%;
}

.forum-pages button:hover {
    background-color: #ffb320;
}