@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');


* {
    padding: 0;
    margin: 0;
}


body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero {
    background-image: url(../img/jpg/background-persona5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 300px;
    color: #ffffff;
    padding: 50px 40px;
    margin-bottom: 20px;
}

.hero div {
    position: relative;
    padding: 90px;
}
.hero div h2 {
    margin-bottom: 20px;
}

.fullcard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    box-sizing:border-box;
    width: 40%;
}

.card img {
    width: 90%;
    height: 400px;
    object-fit:cover;
}

.card p {
    text-align: center;
}

.star {
    color: #ffff00;
}

.display-load {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.load {
    background-color: #ffff00;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fullcard2 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}