@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');


* {
    padding: 0;
    margin: 0;
}


body {
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

.hero {
    background-image: url(../img/png/background-games.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    width: 100%;
    height: 500px;
    color: #ffffff;
    padding: 50px 40px;
    margin-bottom: 50px;
}

.hero div {
    position: relative;
    padding: 150px;
}

.fullcard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    box-sizing:border-box;
    width: 40%;
}

.card img {
    width: 90%;
    height: 400px;
    object-fit:cover;
}


.card p {
    text-align: center;
    color: #878787;
}

.card .star {
    color: #ffff00;
}

.display-load {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.load {
    background-color: #ffb320;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
    border: none;
    padding: 10px;
}

.hero2 {
    background-color: #191970;
    padding-bottom: 50px;
}

.new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.new p {
    background-color: #ff205f;
    padding: 20px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    border-radius: 10px;
}

.new h2 {
    color: #ffffff;
    font-size: 30px;
}

.fullcard2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.card2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    width: 70%;
}

.card2 h3 {
    color: #ffffff;
    margin-bottom: 20px;
}

.card2 p {
    color: #b5b5b5;
}

.card2 img {
    width: 80%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

@media (max-width: 770px) {
    .full {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        box-sizing: border-box;
        width: 90%;
    }

    .fullcard2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}