@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');

.fullcard1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full {
    display: flex;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card img {
    width: 300px;
    object-fit: cover;
}

.card p {
    text-align: center;
}

.star {
    color: #ffff00;
}

.load {
    background-color: #ffff00;
    border-radius: 10px;
    padding: 10%;
    cursor: pointer;
}

.fullcard2 {
    display: flex;
    justify-content: space-between;
}