@import url('/assets/css/includes/header.css');
@import url('/assets/css/includes/footer.css');

* {
    margin: 0;
    padding: 0;
}

.slide-stage {
    height: auto;
}

.item {
    background-image: url(/assets/css/img/jpg/thumb-1920-888562.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 50% 5% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.read {
    padding: 5% 10%;
    float: right;
    width: fit-content;
    border-radius: 999px;
}

.container-dots {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.dot {
    padding: 2%;
    border-radius: 100%;

}

.promo {
    padding: 5% 0;
    overflow: hidden;
}

.promo-container {
    white-space: nowrap;
}

.promo-track {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    padding-left: 100%;
    animation: anim-promo 30s linear infinite;
}

.promo-item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.feature-bg {
    padding: 2% 5%;
    border-radius: 10px;
}



@keyframes anim-promo {
    0% {
        transform: translate(0);
    }

    100% {
        transform: translate(-110%);
        /* Joue l'animation et sort de l'écran pour revenir au début */
    }
}

.container-tournament {
    display: flex;
    flex-direction: column;
}

.tournament {
    padding: clamp(40px, 8vw, 120px) 5%;
    /* Padding responsive, On veut minimum 40px pour les petits écran, 8vw pour s'adapter à la largeur de l'écran, maximum 120px pour éviter un espace trop grand sur les grand écrans,clamp permet de mettre la valeur haut bas & le 5% droite gauche. */
}

.block-tournament {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
}

.content {
    padding: 10%;
}

.content-tournament {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-information {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tournament-title {
    padding: 2% 5%;
    width: fit-content;
}

.category-tournament {

    flex-direction: column;
    padding: 2% 5%;
    width: fit-content;

}

.categoryIMG {
    background-image: url(/assets/css/img/jpg/Persona-5-Strikers-PS4-Wallpapers-01.jpg);
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 50%;
}


.latest-comment {
    padding: 5%;
}

.blog,
.review,
.latest {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5%;
    align-items: center;
}

.blog-card,
.review-card {
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    transition:
        transform 0.60s ease,
        filter 0.60s ease;

}

.blog-card:hover {
    transform: translateY(-15px);
    box-shadow: 1px 5px 10px var(--darknight);
    border: 1px solid var(--sun);
}

.blog-card:hover img {
    transform: scale(1.1);
    filter: brightness(0.6);
}

.review-card:hover {
    transform: translate((-15px));
    box-shadow: 1px 5px 10px var(--darknight);
    border: 1px solid var(--sun);
}

.review-card:hover img {
    transform: scale(1.1);
    filter: brightness(0.6);
}

.img-presentation {
    position: relative;
}

.presentation {
    width: 100%;
    object-fit: cover;
    transition:
        transform 0.60s ease,
        filter 0.60s ease;
}

.overlay-presentation {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    padding: 0 5%;
}

.feature-bg-review {
    padding: 6px 12px;
    border-radius: 999px;
    width: fit-content;
    line-height: 1;
}

.latest {
    padding: 5%;
}

.profile {
    height: 64px;

}

.pic-profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.comment {
    display: flex;
    gap: 20px;
}

.latest-comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Responsive */

@media only screen and (min-width: 770px) {
    .item {
        padding: 10% 5%;
    }


    .read {
        padding: 2% 5%;
    }

    .promo {
        padding: 2% 0;
    }

    .blog {
        gap: 40px;
    }

    .review {
        gap: 40px;
    }

    .section-container {
        display: grid;
        justify-content: center;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
    }

    .tournament-title{
        padding: 1% 3%;
    }
}