@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --sun: #ffb521;
    --darknight: #121212;
    --new: #ff2160;
    --racing: #694ead;
    --adventure: #40abf5;
    --pinkrate: #ff20ae;
    --sunrise: #fb6e10;
    --article: #1f6feb;
    --promotion: #4eae60;
    --redselect: #e60012;
    --whitediamond: #ffffff;
    --abbysalblack: #06070D;
    --selectedgray: #eef1f6;
    --grayshadow: #3b3b3b;
    --darkshadow: #252525;
    --h1-phone-size: 1.125rem;
    --h2-phone-size: 0.875rem;
    --h3-phone-size: 0.75rem;
    --h1-pc-size: 1.375rem;
    --h2-pc-size: 1.125rem;
    --h3-pc-size: 0.875rem;

}

h1, label, .info-left {
    font-size: var(--h1-phone-size);
    font-family: 'roboto';

}

h2,
a,
input,
select,
button,
textarea,
p,
span,
li, .info-right {
    font-size: var(--h2-phone-size);
    font-family: 'roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

select,
button {
    cursor: pointer;
}

@media only screen and (min-width: 770px) {
    h1 {
    font-size: var(--h1-pc-size);
  

}

h2 {
    font-size: var(--h2-pc-size);
  
}

a,
label,
input,
select,
button,
textarea,
p,
span,
li {
    font-size: var(--h2-pc-size);
    
}
}