@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --sun: #ffb521;
    --sunrise: #fb6e10;
    --darknight: #121212;
    --new: #ff2160;
    --racing: #694ead;
    --adventure: #40abf5;
    --pinkrate: #ff20ae;
    --article: #1f6feb;
    --promotion: #4eae60;
    --redselect: #e60012;
    --whitediamond: #ffffff;
    --abbysalblack: #06070D;
    --selectedgray: #eef1f6;
    --grayshadow: #3b3b3b;
    --darkshadow: #252525;
    --h1-phone-size: 1.125rem;
    --h2-phone-size: 0.875rem;
    --h3-phone-size: 0.75rem;
    --h1-pc-size: 1.375rem;
    --h2-pc-size: 1.125rem;
    --h3-pc-size: 0.875rem;

}



h1,
label,
.info-left,
.title-category-content {
    font-size: var(--h1-phone-size);
    font-family: 'roboto';

}

h2,
a,
input,
select,
button,
textarea,
p,
span,
li,
.info-right,
.tournament-title,
.ctr-left {
    font-size: var(--h2-phone-size);
    font-family: 'roboto';
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

select,
button {
    cursor: pointer;
}


.text-whitediamond {
    color: var(--whitediamond);
}

.text-sun {
    color: var(--sun);
}

.text-selectedgray{
    color: var(--selectedgray);
}

.bg-sun {
    background-color: var(--sun);
}

.bg-sunrise {
    background-color: var(--sunrise);
}

.bg-darknight {
    background-color: var(--darknight);
}

.bg-new {
    background-color: var(--new);
}

.bg-racing {
    background-color: var(--racing);
}

.bg-adventure {
    background-color: var(--adventure);
}

.bg-pinrate {
    background-color: var(--pinkrate);
}

.bg-article {
    background-color: var(--article);
}

.bg-promotion{
    background-color: var(--promotion);
}

.bg-redselect{
    background-color: var(--redselect);
}

.bg-whitediamond{
    background-color: var(--whitediamond);
}

.bg-abbysalblack{
    background-color: var(--abbysalblack);
}

.bg-selectedgray {
    background-color: var(--selectedgray);
}

.bg-grayshadow{
    background-color: var(--grayshadow);
}

.bg-darkshadow{
    background-color: var(--darkshadow);
}

.text-h1-media {
    font-size: var(--h1-phone-size);
    font-family: 'roboto';
}

.text-h2-media {
    font-size: var(--h2-phone-size);
    font-family: 'roboto';
}

.text-h3-media {
    font-size: var(--h3-phone-size);
    font-family: 'roboto';
}



@media only screen and (min-width: 770px) {
    h1 {
        font-size: var(--h1-pc-size);


    }

    /*Responsive Font*/

    .text-h1-media {
        font-size: var(--h1-pc-size);
    }

    .text-h2-media {
        font-size: var(--h2-pc-size);
    }

    .text-h3-media {
        font-size: var(--h3-pc-size);
    }

    h2 {
        font-size: var(--h2-pc-size);

    }

    a,
    label,
    input,
    select,
    button,
    textarea,
    p,
    span,
    li {
        font-size: var(--h2-pc-size);

    }
}