@import url('/assets/css/Variable.css');

footer {
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 50px

}

.category-footer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.section-ftr ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.copyright{
   align-self: center;
}
